NEXT_PUBLIC_SUPABASE_URL=https://eqjgvwrgkkvdiuinipdu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxamd2d3Jna2t2ZGl1aW5pcGR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2OTQ5NzAsImV4cCI6MjA4OTI3MDk3MH0.JpNNivT5Q9GVzdSvIbS-V-xYG65k2qQAlYEGC6oQR2I
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxamd2d3Jna2t2ZGl1aW5pcGR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzY5NDk3MCwiZXhwIjoyMDg5MjcwOTcwfQ.4sCJxb-g2ZDBMoa3gAMLpsaVR_WoBISARHs7zSteYcw
RESEND_API_KEY=skip_for_now
REMINDER_EMAIL=usamashakir110@gmail.com
GOOGLE_SERVICE_ACCOUNT_EMAIL="skip_for_now"
GOOGLE_PRIVATE_KEY="skip_for_now"
NEXT_PUBLIC_APP_URL=http://localhost:3000
CRON_SECRET=salesos2024secret
